@(Welcome:String,Token:String)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- jQuery-->
<script src="assets/internals/jQuery.js"></script> 
<link rel="stylesheet" href="assets/internals/jquery-ui.css">			
<script src="assets/internals/jquery-ui.js"></script>  
			  

<!--fonts -->
<link rel="stylesheet" href="/assets/css/Lato.css" type="text/css"/>
<link rel="stylesheet" href="/assets/css/Oswald.css" type="text/css"/>
<link rel="stylesheet" href="/assets/css/PtSans.css" type="text/css"/>

<link rel="stylesheet" href="assets/css/main.css" type="text/css"/>
<link rel="stylesheet" href="assets/css/home.css" type="text/css"/>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="assets/internals/bootstrap4.min.css" >


<!-- Latest compiled and minified JavaScript -->
<script src="assets/internals/bootstrap4.min.js"></script>

  
  
  
  
  <!-- Notify.js Files -->
  <script src="assets/internals/notify.min.js"></script>
  <link rel="stylesheet" href="assets/internals/notify-metro.min.css" type="text/css"/>
  <script src="assets/internals/notify-metro.min.js"></script>

<!-- Angular JS&routes -->
<script src="assets/internals/angular.min.js"></script>
<script type="text/javascript" src="assets/internals/angular-route.min.js"></script>

<!-- Font awesome script -->
<script src="assets/internals/font-awesome-025cac6ad7.js"></script>

<!-- time picker -->
<script src="assets/timepicker/js/bootstrap-timepicker.js"></script>
<link rel="stylesheet/less" href="assets/timepicker/css/timepicker.less"/>




<script src="assets/autogrow/autogrow.js" type="application/javascript"></script>
  <title>ZeMoSo</title>
  <meta name="description" content="">
  <meta name="author" content="zemoso">

  <meta name="viewport" content="width=device-width; initial-scale=1.0">

  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
</head>
<body ng-app="user_main" class="home_body" style="background:#F2F2F2" ng-controller="mainController">
		<div id="name_container">
  			<div style="left:0px;top:0px;left:0px;width:auto;position: absolute">
  				<div style="margin-left:5%;margin-top:15px">
  					<div style="margin-top:0px">
  						<span><i class="fa fa-bars" id="menu-fa-bars" style="font-size:20px;z-index:0;margin-left:10px" aria-hidden="true"></i>
  						<i class="fa fa-circle" aria-hidden="true" id="menu-fa-bars-circle" style="font-size:40px;z-index:-1;left:12px;top:17px;position:absolute"></i>
  						</span>
  						<span style="font-family: 'Oswald', sans-serif;font-size: 25px;color:black;margin-left:10px">ZeMoSo</span>
  						<span style="font-family: 'Oswald', sans-serif;font-size: 25px;color:black;margin-left:10px">></span>
  						<span style="font-family: 'Oswald', sans-serif;font-size: 25px;color:black;margin-left:10px" id="name_container_content">Notes</span>	
  						<div style="top:13px;position:absolute;left:350px;width:600px" id="name_search_container">
  							<div class="row">
  								<div class="col-sm-12">
  									<input type="text" class="form-control" id="name_search" placeholder="Search"/>
  								</div>
  							</div>
  						</div>
  						<div id="logout">
  							 <div class="dropdown">
  							  <div data-toggle="dropdown" id="user_profile_container">
  							  	<div id="user_profile" style="font-size:19px;"></div>
						          <ul class="dropdown-menu dropdown-menu-right" id="user_profile_dropdown" role="menu">
						            <li style="text-align:center"><a onclick="this_logout();">Logout</a></li>
						          </ul>
  							  </div>
							  
							</div>
							</div>
  							
  						</div>
  					</div>
  				</div>  		
  			</div>
	  	</div>
		<div style="left:0px;top:65px;width:100%;height:auto;position:absolute">
			<div style="left:0px;top:0px;width:25%;height:600px;position:absolute" id="menu_container">
				<div id="menu_label_container">
		  			<div class="menu_label" id="home">
		  				<p style="padding-top:10px;padding-bottom:10px">Home</p>
		  			</div>
		  			<div class="menu_label" style="border-bottom:solid 1px #D6D6D6" id="archive">
		  				<p style="padding-top:10px;padding-bottom:10px">Archive</p>
		  			</div>
	  			</div>
			</div>
			<div id="ng_container">
				<div ng-view>
	  			</div>
			</div>
		</div>
		
		
		
		
</body>
<script>
	$(function(){
		$("#myModal").modal("show");
	});
	/**
	 * User access token generated by server and posted 
	 * on to client, used to get and post data of THE USER
	 */
	var user="@Welcome";
	var token="@Token";
	document.getElementById("user_profile").innerText=user[0].toUpperCase();
	/**
	 * Interval variable
	 */
	var inter=setInterval(compare,1000);
	/**
	 * Start interval
	 */
	inter;														
	var script_start_time=new Date().getTime();  	/**
													 * get time when script started execution
													 */
	var timings=[];									
	
	/**
	 * global reminder variable
	 */
	var global_reminder_update="";
	
	/**
	 * Get reminders from server and then run compare function
	 */
	function getReminders(){
		$.ajax({
			url:"/getReminders",
			type:"GET",
			headers:{
				"Authorization":token,
				"Content-Type":"application/json"
			},
			success:function(data){
				timings=data;
					
			}
		});	
	}
	
	/**
	 * 	update reminder trigger activity, in database
	 * 	when a reminder is triggered, then it's alerted,
	 *  then it should be marked as inactive in Databse
	 */
	function updateThisReminder(timings,isReminderActive){
		$.ajax({
			url:"/setReminder?postId="+timings['postId']+"&isReminderActive="+isReminderActive,
			type:"GET",
			headers:{
				"Authorization":token,
				"Content-Type":"application/json"
			},
			dataType:'json',
			success:function(data){
				if(isReminderActive==1){
					var x_1=Number.parseInt(timings['reminder']);
					var user_date=new Date(x_1);
					var print_out="Reminder: "+((user_date.getMonth()+1)+"/"+user_date.getDate()+"/"+(1900+user_date.getYear()))+" \n"+timings['title'];
					getReminders();
					if(timings['isArchive']==1){
						window.location.href="main#/archive"
					}
					else{
						window.location.href="main#/home"
					}
					$("#foot_of_card_"+timings['postId']).addClass("viewed");
					alert(print_out);
				}
				else{
					getReminders();
					$("#foot_of_card_"+timings['postId']).addClass("nviewed");
				}
				
			}
		});	
	}
	
	/**
	 * Compare function is used to compare present timestamp to 
	 * the reminder's date and time if times match trigger the event of alert
	 */
	function compare(){
		var current_time=(new Date().getTime());
		var len=timings.length;
		for(var i=0;i<len;i++){
			var x_1=Number.parseInt(timings[i]['reminder']);
			if(x_1>script_start_time&&x_1<=current_time){
				updateThisReminder(timings[i],1);
			}
			else if(x_1<=script_start_time){
				updateThisReminder(timings[i],-1);
			}
		}
	}
	
	
	
	
	
	

	
	/**
	 * Main app with ngRoute dependency
	 */
	var m_app=angular.module("user_main",['ngRoute']);
	/**
	 * routing angularJS application with two views 1)home page 2)archive page
	 * and their respective controllers
	 */
	m_app.config(function($routeProvider){
		$routeProvider
			.when('/home',{templateUrl:'home',controller:'homeController'})
			.when('/archive',{templateUrl:'archive',controller:'archiveController'})
			.otherwise({redirectTo:'/home'});
	});
	
	
	
	
	
	/**
	 * Services Common to all the controllers under main app
	 */
	m_app.service('servicesContainer',function($http){
		
		/**
		 * get notes of a particular user with respect to isArchive flag
		 * isArchive=1 means get archived data
		 * isArchive=0 means get un-archived data
		 */
		this.get_contents=function(isArchive){
			var output=$http.get(
				"@routes.HomeController.getAllPosts"+"?isArchive="+isArchive,
				{
					headers:{
						"Authorization":token,"Content-Type":"application/json"
					}
				}
			)
		//return the $http itself for success and error calls		
		return output;
		};
		
		
		/**
		 * Archive or un-archive a particular post with respect to it's id and flag
		 * id-> id of the post
		 * flag->{ 0: means un-archive, 1: archive }
		 */
		this.archiveThisPost=function(postId,flag){
			var output=$http.post("@routes.HomeController.archivePostById",
			{"postId":postId,"flag":flag},
			{
				headers:{
							"Authorization":token,
							"Content-Type":"application/json"
						}
			}
			);
			return output;
		};
		this.removeReminder=function(id){
			var output=$http.post("@routes.HomeController.removeReminder",
			{"postId":id},
			{
				headers:{
							"Authorization":token,
							"Content-Type":"application/json"
						}
			}
			);
			return output;	
	};
	
	});
	
		/**
	 * Common controller to both sub controllers
	 */
	m_app.controller("mainController",function($scope,$interval){
		
		/**
		 * models from pop_up_modal
		 */
		$scope.user_date_g="";
		$scope.user_time_g=""
		$scope.generic_title="";
		$scope.generic_content="";
		$scope.modal_title="";
		$scope.modal_text="";
		$scope.createdDate="";
		$scope.postId="";
		$scope.modal_date="";
		$scope.modal_time="";
		$scope.prev_container="";
		global_reminder_update="";
		
		
		var i=0;
		/**
		 * Triggered by ng-click on Save reminder button of pop_up_modal
		 */
		
		
	});
	
	
	
	/**
	 * controller for home page
	 */
	m_app.controller("homeController",function($scope,$http,servicesContainer,$interval){
		
		
		
		/**
		 * Setting anchor to active
		 */
		$("#home").addClass("active");
		$("#archive").removeClass("active");
		$("#name_container_content").html("Notes");
		$("#name_search").css("background","#E8AA00");
		$(function(){
			$("#menu-fa-bars-circle").animate({color:"#ffbb00"},{duration:300,queue:false});
			$("#name_container").animate({backgroundColor:"#ffbb00"},{queue:false});
			
		});
		
		/**
		 * get posts which are un-archived
		 */
		
		$scope.get_contents=function(isArchive){
			var input=servicesContainer.get_contents(isArchive);
			input.success(function(data,status,headers,config){
				/**
				 * contents is a model in home page
				 * which contains particulars of user's post such as 
				 * 1) id
				 * 2) title of post
				 * 3) content of the post
				 * 4) date of last update
				 * 5) reminder
				 * 6) archive flag
				 */
				$scope.contents=data;	
				
			}).error(function(data,status,headers,config){
				console.log(status);
			});
			$scope.modal_title="";
			$scope.modal_text="";
			$scope.prev_container="";
			$scope.modal_date="";
			$scope.modal_time="";
			global_reminder_update="";
			/**
			 * Call to fetch all active reminders
			 */
			getReminders();
			//
		};
		//implicit call to get posts which are marked as un-archive
		$scope.get_contents(0);
		
		/**
		 * archives a particular post with flag 1
		 */
		$scope.archiveThisPost=function(postId,flag){
			if(postId==""){
				var isReminderActive=1;
				if(global_reminder_update!=""){
					isReminderActive=0;
				}
				$scope.post_contents(1,isReminderActive);
			}
			else{
				var input=servicesContainer.archiveThisPost(postId,flag);
				input
				.success(function(data,status,headers,config){
					closeAllDivs();
					//generate a noitification saying post is archived
					$.notify("Note archived","info");
					/**
					 * get the new list of notes that are un-archived since 
					 * the call itself archives a post with id postId
					 */
					$scope.get_contents(0);
				})
				.error(function(data,status,headers,config){
					console.log(status);	
				});	
			}
			
		}
		
		/**
		 * triggered by modal's submission
		 * submits either archived or un-archived post depends which depends on isArchive flag
		 */
		$scope.post_contents=function(isArchive,isReminderActive){
			if($scope.generic_title!=""|$scope.generic_content!=""|global_reminder_update!=""){
				$http.post(
					"@routes.HomeController.addPost",
					{
						"title":$scope.generic_title,"content":$scope.generic_content,"isArchive":isArchive,"reminder":global_reminder_update,"isReminderActive":isReminderActive
					},
					{
						headers:{
								"Authorization":token,"Content-Type":"application/json"
								}
					}
				).success(function(data, status, headers, config){
						if(isArchive==1){
							$.notify("Note archived","success");
							
						}
  						console.log(status);	
  						$scope.get_contents(0);
  					})
  				.error(function(data, status, headers, config){
  					console.log(status+" "+data);
  				});
				$scope.user_date_g="";
				$scope.user_time_g=""
				$scope.generic_title="";
				$scope.generic_content="";
				global_reminder_update="";
				closeAllDivs();
			}
			
		};
		
			$scope.modal_submit=function(prev_container){
			if($scope.modal_title!=prev_container['title']|
			$scope.modal_text!=prev_container['content']|
			prev_container['reminder']!=global_reminder_update
			){
					var isReminderActive=1;
					if(prev_container['reminder']!=global_reminder_update&&!isNaN(global_reminder_update)&&global_reminder_update!="") 
						isReminderActive=0;
					$http.post("@routes.HomeController.updatePost",
					{
						"postId":prev_container['postId'],			
						"title":$scope.modal_title,
						"content":$scope.modal_text,
						"reminder":global_reminder_update,
						"isArchive":0,
						"isReminderActive":isReminderActive
					},
					{
						headers:{
							"Authorization":token,
							"Content-Type":"application/json"
						},
					}
					).success(function(data,status,headers,config){
					$scope.get_contents(0);
					$.notify("Note updated","info");
					closeAllDivs();
				}).error(function(data,status,headers,config){
					console.log(status);
				});
			}
		}
		
		/**
		 * updateReminder ng-click on a particular post,
		 * pops up a reminder and then updates the reminder if it's valid else nope!
		 */
		$scope.updateReminder=function(container){
			var x=container['postId'];
			var new_date=$("#rem_date_"+x).val();
			var new_time=$("#rem_time_"+x).val();
			var new_date_time=new Date(new_date+" "+new_time).getTime();
			if(new_date_time<=new Date().getTime()){
				$.notify("Oops, the time is gone, we cannot bring it back!","warn");
				return;
			}
			else{
				$http.post(
				"@routes.HomeController.updateReminder",
				{"postId":x,"reminder":new_date_time},
				{
					headers:{
						"Authorization":token,
						"Content-Type":"application/json"
					}
				}
				).success(function(data,status,headers,config){
					$scope.get_contents(0);
					$.notify("Reminder updated","success");
						
			}).error(function(data,status,headers,config){
				console.log(status);
			});
				
			}
		}
		
		
		$scope.save_reminder_local_generic=function(){
			
			var user_gen_date=new Date($scope.user_date_g+" "+$scope.user_time_g).getTime();
			if(user_gen_date<=new Date().getTime()){
				$.notify("Cannot save that reminder","warn");
				return;
			}
			else{
				if($("#myModal").is(":visible")){
					$("#modal_reminder_display").html($scope.user_date_g+" "+$scope.user_time_g);
				}
				else{
				$("#home_input_reminder").html($scope.user_date_g+" "+$scope.user_time_g);	
				$("#home_input_reminder_row").css("display","block");
				}
				
				global_reminder_update=user_gen_date;
				$.notify("Reminder saved","info");
				
			}
			$(".dropdown-menu").slideUp("fast");
		}
		
		/***
		 * Saves or updates a post depending up on the value of argument "prev_container"
		 * prev_container->{"postId":"Post NEW Data"}
		 * prev_container->{"array of data with postId not null":"Update the content"}
		 */
		$scope.generic_click=function(prev_container){
			if(prev_container=="postId"){
				
				var title=$scope.generic_title;
				var content=$scope.generic_content;
				var reminder=global_reminder_update;
				var isReminderActive=1;
				if(!isNaN(global_reminder_update)&&global_reminder_update!="") 
					isReminderActive=0;
				$scope.post_contents(0,isReminderActive);
			}
			else{
				if($scope.generic_title!=prev_container['title']|
			$scope.generic_content!=prev_container['content']|
			prev_container['reminder']!=global_reminder_update
			){
				var isReminderActive=1;
				if(prev_container['reminder']!=global_reminder_update&&!isNaN(global_reminder_update)&&global_reminder_update!="") 
					isReminderActive=0;
				$http.post("@routes.HomeController.updatePost",
				{
					"postId":prev_container['postId'],			
					"title":$scope.generic_title,
					"content":$scope.generic_content,
					"reminder":global_reminder_update,
					"isArchive":0,
					"isReminderActive":isReminderActive
				},
				{
					headers:{
						"Authorization":token,
						"Content-Type":"application/json"
					},
				}
				).success(function(data,status,headers,config){
				$scope.get_contents(0);
				$.notify("Note updated","info");
				closeAllDivs();
			}).error(function(data,status,headers,config){
				console.log(status);
			});
			}
				
				
			}
		}
		$scope.removeReminder=function(id){
			var input=servicesContainer.removeReminder(id);
			input.success(function(data,status,headers,config){$.notify("Reminder removed","info");$scope.get_contents(0);}).error(function(data,status,headers,config){});
		}
		
		$scope.popUpDiv=function(container){
				$("#myModal").modal('show');
				$scope.modal_title=container['title'];
				$scope.modal_text=container['content'];
				var create_date=new Date(container['date']);
				$scope.createdDate=create_date.getTime();
				$scope.postId=container['postId'];
				global_reminder_update=container['reminder'];
				var user_date_c=Number.parseInt(container['reminder']);
				var date=new Date(user_date_c);
				var temp=(date.getMonth()+1)+"/"+(date.getDate())+"/"+(date.getYear()+1900)+" "+(date.getHours()+":"+date.getMinutes());
				$scope.modal_date=temp;
				$scope.prev_container=container;
				if(global_reminder_update=="")
					$scope.modal_date="";
		}
		
		$scope.archiveThisModal=function(postId,flag){
			
					var isReminderActive=1;
					var new_reminder=$("#modal_reminder_display").html();
					var new_date=new Date(new_reminder).getTime();
					console.log(new_date);
					if(new_date!=""&&!isNaN(new_date)) 
						isReminderActive=0;
					$http.post("@routes.HomeController.updatePost",
					{
						"postId":postId,			
						"title":$scope.modal_title,
						"content":$scope.modal_text,
						"reminder":new_date,
						"isArchive":1,
						"isReminderActive":isReminderActive
					},
					{
						headers:{
							"Authorization":token,
							"Content-Type":"application/json"
						},
					}
					).success(function(data,status,headers,config){
					$scope.get_contents(0);
					$.notify("Note archived","info");
					closeAllDivs();
				}).error(function(data,status,headers,config){
					console.log(status);
				});
			
		}
		
	});
	
		
	
	
	
	
	
	/**
	 * Controller of archive page
	 */
	m_app.controller("archiveController",function($scope,$http,servicesContainer){
		$("#home").removeClass("active");
		$("#archive").addClass("active");
		$("#name_container_content").html("Archives");
		$("#name_search").css("background","#4B616B");
		$(function(){
			$("#menu-fa-bars-circle").animate({color:"#607D8B"},{duration:300,queue:false});
			$("#name_container").animate({backgroundColor:"#607D8B"},{queue:false});
			
		});
		
		/**
		 * get archived contents of a user with respect to his/her token
		 */
		$scope.get_contents=function(isArchive){
			var input=servicesContainer.get_contents(isArchive);
			input.success(function(data,status,headers,config){
				/**
				 * contents is a model in archive page
				 * which contains particulars of user's post such as 
				 * 1) id
				 * 2) title of post
				 * 3) content of the post
				 * 4) date of last update
				 * 5) reminder
				 * 6) archive flag
				 */
				$scope.contents=data;
				
			}).error(function(data,status,headers,config){
				console.log(status);
			});
			getReminders();
			//
		};
		/**
		 * implict call to get contents of user when the page is loaded
		 * a flag of "1" is specified mentioning "fetch only archived data"
		 */
		$scope.get_contents(1);
		
		/**
		 * un-archives a particular post, triggered by a post's un-archived button
		 *
		 */
		$scope.archiveThisPost=function(postId,flag){
			var input=servicesContainer.archiveThisPost(postId,flag);
			input
			.success(function(data,status,headers,config){
				closeAllDivs();
				//generate a noitification saying post is un-archived
				$.notify("Note un-archived","info");
				/**
				 * get the new list of notes that are archived since 
				 * the call itself un-archives a post with id postId
				 */
				$scope.get_contents(1);
			})
			.error(function(data,status,headers,config){
				console.log(status);	
			});
		}
		/**
		 * archives a particular post with flag 1
		 */
		$scope.archiveThisPost=function(postId,flag){
			
				var input=servicesContainer.archiveThisPost(postId,flag);
				input
				.success(function(data,status,headers,config){
					closeAllDivs();
					//generate a noitification saying post is archived
					$.notify("Note un-archived","info");
					/**
					 * get the new list of notes that are un-archived since 
					 * the call itself archives a post with id postId
					 */
					$scope.get_contents(1);
				})
				.error(function(data,status,headers,config){
					console.log(status);	
				});	
		}
		
		$scope.save_reminder_local_generic=function(){
			
			var user_gen_date=new Date($scope.user_date_g+" "+$scope.user_time_g).getTime();
			if(user_gen_date<=new Date().getTime()){
				$.notify("Cannot save that reminder","warn");
				return;
			}
			else{
				if($("#myModal").is(":visible"))
					$("#modal_reminder_display").html($scope.user_date_g+" "+$scope.user_time_g);
				global_reminder_update=user_gen_date;
				$.notify("Reminder saved","info");
				
			}
			$(".dropdown-menu").slideUp("fast");
		}
		
		$scope.modal_submit=function(prev_container){
			if($scope.modal_title!=prev_container['title']|
			$scope.modal_text!=prev_container['content']|
			prev_container['reminder']!=global_reminder_update
			){
					var isReminderActive=1;
					if(prev_container['reminder']!=global_reminder_update&&!isNaN(global_reminder_update)&&global_reminder_update!="") 
						isReminderActive=0;
					$http.post("@routes.HomeController.updatePost",
					{
						"postId":prev_container['postId'],			
						"title":$scope.modal_title,
						"content":$scope.modal_text,
						"reminder":global_reminder_update,
						"isArchive":1,
						"isReminderActive":isReminderActive
					},
					{
						headers:{
							"Authorization":token,
							"Content-Type":"application/json"
						},
					}
					).success(function(data,status,headers,config){
					$scope.get_contents(1);
					$.notify("Note updated","info");
					closeAllDivs();
				}).error(function(data,status,headers,config){
					console.log(status);
				});
			}
		}
		/**
		 * updateReminder ng-click on a particular post,
		 * pops up a reminder and then updates the reminder if it's valid else nope!
		 */
		$scope.updateReminder=function(container){
			var x=container['postId'];
			var new_date=$("#rem_date_"+x).val();
			var new_time=$("#rem_time_"+x).val();
			var new_date_time=new Date(new_date+" "+new_time).getTime();
			if(new_date_time<=new Date().getTime()){
				$.notify("Oops, the time is gone, we cannot bring it back!","warn");
				return;
			}
			else{
				$http.post(
				"@routes.HomeController.updateReminder",
				{"postId":x,"reminder":new_date_time},
				{
					headers:{
						"Authorization":token,
						"Content-Type":"application/json"
					}
				}
				).success(function(data,status,headers,config){
					$scope.get_contents(1);
					$.notify("Reminder updated","success");
						
			}).error(function(data,status,headers,config){
				console.log(status);
			});
				
			}
		}
		
		$scope.removeReminder=function(id){
			var input=servicesContainer.removeReminder(id);
			input.success(function(data,status,headers,config){$.notify("Reminder removed","info");$scope.get_contents(1);}).error(function(data,status,headers,config){});
		}
		$scope.popUpDiv=function(container){
				$("#myModal").modal('show');
				$scope.modal_title=container['title'];
				$scope.modal_text=container['content'];
				var create_date=new Date(container['date']);
				$scope.createdDate=create_date.getTime();
				$scope.postId=container['postId'];
				global_reminder_update=container['reminder'];
				var user_date_c=Number.parseInt(container['reminder']);
				var date=new Date(user_date_c);
				var temp=(date.getMonth()+1)+"/"+(date.getDate())+"/"+(date.getYear()+1900)+" "+(date.getHours()+":"+date.getMinutes());
				$scope.modal_date=temp;
				$scope.prev_container=container;
				if(global_reminder_update=="")
					$scope.modal_date="";
		}
		$scope.archiveThisModal=function(postId,flag){
			
					var isReminderActive=1;
					var new_reminder=$("#modal_reminder_display").html();
					var new_date=new Date(new_reminder).getTime();
					console.log(new_date);
					if(new_date!=""&&!isNaN(new_date)) 
						isReminderActive=0;
					$http.post("@routes.HomeController.updatePost",
					{
						"postId":postId,			
						"title":$scope.modal_title,
						"content":$scope.modal_text,
						"reminder":new_date,
						"isArchive":0,
						"isReminderActive":isReminderActive
					},
					{
						headers:{
							"Authorization":token,
							"Content-Type":"application/json"
						},
					}
					).success(function(data,status,headers,config){
					$scope.get_contents(1);
					$.notify("Note un-archived","info");
					closeAllDivs();
				}).error(function(data,status,headers,config){
					console.log(status);
				});
			
		}
		$scope.modal_submit=function(prev_container){
			if($scope.modal_title!=prev_container['title']|
			$scope.modal_text!=prev_container['content']|
			prev_container['reminder']!=global_reminder_update
			){
					var isReminderActive=1;
					if(prev_container['reminder']!=global_reminder_update&&!isNaN(global_reminder_update)&&global_reminder_update!="") 
						isReminderActive=0;
					$http.post("@routes.HomeController.updatePost",
					{
						"postId":prev_container['postId'],			
						"title":$scope.modal_title,
						"content":$scope.modal_text,
						"reminder":global_reminder_update,
						"isArchive":1,
						"isReminderActive":isReminderActive
					},
					{
						headers:{
							"Authorization":token,
							"Content-Type":"application/json"
						},
					}
					).success(function(data,status,headers,config){
					$scope.get_contents(1);
					$.notify("Note updated","info");
					closeAllDivs();
				}).error(function(data,status,headers,config){
					console.log(status);
				});
			}
		}
	});
	
	
	/**
	 * save_reminder_local_generic
	 */
	
	function closeAllDivs(){
		$("#myModal").modal("hide");
		global_reminder_update="";
	}
	
	function addShadow(id){
	$("#"+id).removeClass("light-shadow");
	$("#"+id).addClass('dark-shadow');
	}	
	function undoShadow(id){
		$("#"+id).removeClass('dark-shadow');
		$("#"+id).addClass("light-shadow");
		
	}
	function reminderStateChanger(){
		if($("#reminderFooter_1").css("display")=="none"){
			$("#reminderFooter_1").css("display","block");
		}
		else{
			$("#reminderFooter_1").css("display","none");
		}
	}
	function popUpDate(id){
		$('#'+id).datepicker({minDate:new Date()});$('#'+id).datepicker('show');
		$(".ui-datepicker").css("z-index",2000);
	}
	function popUpTime(id){
		$("#"+id).timepicker();
	}
	
	$("#home").on('click',function(){
		window.location.href="#home";
	});
	$("#archive").on('click',function(){
		window.location.href="#archive";
	});
	$(window).on('resize',function(){
		var width=$(window).width();
		if(width>=700){
			$("#menu_container").animate({width:"25%"});
			$("#ng_container").animate({left: "30%"});
			$("#menu_container").fadeIn();
			$("#menu_container").css("z-index","-1");
		}
		else if(width>=400){
			$("#menu_container").fadeOut();
			$("#menu_container").animate({width:"0px"});
			$("#ng_container").animate({left: "20%"});
			
		}
	});
	$(window).scroll(function(){
		if($(document).scrollTop()==0){
			$("#name_container").removeClass("name_container_shadow");
		}
		else{
			$("#name_container").addClass("name_container_shadow");
		}
	});
	$("#logout").on('click',function(){
		if($(".dropdown-menu").is(":visible")){
			$(".dropdown-menu").slideUp("fast");
		}
		else{
			$("#user_profile_dropdown").slideDown("fast");
		}
	});
	$(document).on("click", function(event){
        var $trigger = $(".btn-group");
        if($trigger !== event.target && !$trigger.has(event.target).length){
            $(".dropdown-menu").slideUp("fast");
        }            
    });
    function this_logout(){
    	window.location.href="logout";
    }
</script>
</html>